@page "/EditProduct/{Id:int}"


@using ProductCatalogue.Data
@inject ProductServices editProductService
@inject NavigationManager NavigationManager

<h3>Edit Product</h3>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="CategoryName" class="control-label"><strong>Category Name</strong></label>
                <input form="CategoryyName" class="form-control" @bind="@categoryObj.ProductName" />
            </div>
            <br />
            <div class="for-group">
                <label for="Price" class="control-label"><strong>Product Price</strong></label>
                <input form="Price" class="form-control" @bind="@categoryObj.ProductPrice" />
            </div>
            <br />
            <div class="for-group">
                <label for="Quantity" class="control-label"><strong>Quantity</strong></label>
                <input form="Quantity" class="form-control" @bind="@categoryObj.Quantity" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <br />
                <input type="button" class="btn btn-primary" @onclick="@UpdateCategory" value="Save" />

                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]
    public int Id { get; set; }
    Products categoryObj = new Products();

    protected override async Task OnInitializedAsync()
    {
        categoryObj = await Task.Run(() => editProductService.GetProductByID(Convert.ToInt32(Id)));
    }
    protected async void UpdateCategory()
    {
        await editProductService.UpdateProductDetails(categoryObj);
        NavigationManager.NavigateTo("ProductList/" + this.categoryObj.CategoryID);
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("ProductList/" + this.categoryObj.CategoryID);
    }
}
